$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$quaternary-color: #fa9500;
$font-stackl: "IBM Plex Sans", sans-serif;
$paragraph-size: 1.5em;

@mixin flexCenter($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $primary-color;
  font-family: $font-stackl;

  svg path {
    stroke: currentColor;
  }
}

nav {
  width: auto;
  height: 100px;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;
  padding: 15px;
  margin-top: 20px;

  p {
    font-size: $paragraph-size;
    padding-left: 30px;
  }

  .nav__icons-container {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    @include buttonStyle;
  }
}

.main__article {
  width: auto;
  color: $primary-text-color;
  padding: 0 45px;
  @include flexCenter(row, space-between, center);

  h1 {
    font-size: 3em;
  }

  p {
    font-size: $paragraph-size;
  }

  @include buttonStyle;
  button {
    width: 12vw;
    padding: 20px;
    background-color: $quaternary-color;
    border-radius: 35px;
    color: white;
    font-size: 1em;

    &:hover {
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }

  img {
    width: 35vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 19px;
  }

  .article__impact-section {
    @include flexCenter(column);
    gap: 20px;
  }

  .article__image-section {
    width: 50%;
    @include flexCenter(row, flex-end);
  }
}

main {
  background-color: $primary-color;
}

section {
  width: auto;
  height: auto;
  padding: 60px;

  h2 {
    color: $primary-text-color;
    font-size: 2em;
  }

  .product-section__healtcare {
    padding-bottom: 60px;

    h2 {
      font-weight: 300;
      padding-bottom: 60px;
    }

    .healtcare__card-section {
      @include flexCenter(row, center, center);
      width: auto;
      height: auto;
      column-gap: 200px;
      row-gap: 80px;
      flex-wrap: wrap;

      .card-section__product {
        width: 14vw;
        min-width: 270px;
        height: 480px;
        background-color: $secundary-color;
        color: $primary-text-color;
        padding: 20px;
        border-radius: 8px;

        .product__icon {
          width: 100%;
          @include flexCenter(row, flex-end);
          padding-bottom: 12px;

          svg {
            width: 28px;
            height: 28px;
            stroke: #7c6a0a;
          }
        }

        .product__image {
          width: 100%;
          height: auto;
          @include flexCenter(row, center, center);
          margin-bottom: 12px;

          img {
            width: 12vw;
            min-width: 210px;
            height: 30vh;
            object-fit: cover;
            border-radius: 6px;
          }
        }
      }
    }
  }

  .product-section__furniture {
    @extend .product-section__healtcare;
    .healtcare__card-section {
      .card-section__product {
        background-color: $tertiary-color;
        color: white;
      }
    }
  }
}

.info-section__about-us {
  padding-bottom: 60px;

  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }

  .about-us__mission-section {
    @include flexCenter(row, space-evenly, center);

    .mission-section__earth {
      width: 30vw;
      display: flex;
      gap: 40px;
      color: #e86424;

      img {
        object-fit: contain;
      }

      p {
        text-align: center;
        font-size: $paragraph-size;
      }
    }
  }
}

.mission-section__innovation {
  @extend .mission-section__earth;
}

.info-section__gallery {
  h2 {
    font-weight: bold;
    padding-bottom: 60px;
  }

  .gallery__pictures {
    @include flexCenter(row, space-between);

    img {
      width: 28vw;
      height: 45vh;
      object-fit: cover;
      border-radius: 16px;

      &:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
      }
    }
  }
}

footer {
  background-color: $quaternary-color;
  width: 100%;
  height: 250px;
}
